*{
    margin: 0px;
    padding:0px;
}
body{
    background:url('1.webp/photo.webp.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}
div#inner{
   
    margin:90px 30% 30%  30%;
    width:50%;
    height:20%;
    background-color: rgba(0, 0, 0, 0.419);
    border-radius: 4px;
    box-shadow: 0px 0px 40px black;
}
div.enteries{
    background-color: rgba(0, 0, 0, 0.325);
    width: 100%;
   
    
}
div.heading{
    width: 100%;
}

h3{
   text-align:center;
    width: 90%;
   height: 50px;
    margin:5% auto 5%;
    font-size: 150%;
    background-color:rgba(0, 0, 0, 0.463);
    padding:5px;
    color: aliceblue;   
}

input[type=text],span{
    font-size: larger;
    width: 90%;
    margin-top: 2%;
   margin-left: 5%;
}
input[type=password]{
    margin-top: 2%;
    width: 90%;
    margin-left: 5%;
    font-size: larger;
}
#header{
    display: flex;
}
.radio,.checkbox{
    width:90%;
   margin-left: 5%;
    display: flex;
}
.radio1{
   width:30%;
  margin-left: 5%;
  color: aliceblue;
}
.radio{
    color: aliceblue;
}
.error{
    font-size: small;
}
.checkbox{
    font-size: small;
    align-items: center;
    color: aliceblue;
}
#submit{
    margin-left: 25%;
    width:50%;
    background-color:red;
    border-radius: 5px;
    height: 25px;
    
}
button{
    background-color:black;
}
.operfield{
   
    width: 100%;
    height:70%;
    background-attachment: fixed;
}
#operat{
    display:flex;
}
.operator{
    width:25%;
    height: 40px;
   
}
.opr{
    width: 99%;
    height: 40px;
}
.operfield2{
    margin: 8% 5% 10% 10% ;
    width:80%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.429);
    padding:5px;
    border: 1px black solid;
}
table{
    width:70%;
    margin: auto;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
}
#records{
    overflow-x: scroll;
    margin:5%;
   
}
::-webkit-scrollbar{
    display: none;
}

td{
    background-color: rgba(0, 0, 0, 0.31);

}
th{
    background-color: rgba(0, 0, 0, 0.588);
}
#update{
    width:30%;
    margin-left:30%;
}
input[type=button]{
    border:none;
    background-color:rgba(15, 1, 1, 0.448);
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
input[type=button]:hover{
    border:1px black solid; 
    font-size: larger;
    background-color: red;
}
.navigate{
    width: 33%;
    margin: 5% 30%  5%  35%;
    
}
